:root {
    --color-violet: #5955B3;
    --color-lavender: #D1D0FB;
    --color-white: #ffffff;
    --color-wh-vio:#F9F8FD;
    --color-wh-vio-h :#F8F3FC;
    --color-footer-word: #C1C4CC;
}

body{
    margin:0px;
    font-size:24px;
}

.btn{
    display: block;
    background-color: #5955B3;
    width: 100%;
    height: 103px;
    color:white;
    margin-top: 30px;
    box-sizing:border-box;
    box-shadow: 5px 20px 25px #D1D0FB;
}

p{
    color:gray;
    margin-top:0px;
    font-size:22px;
}

.card-body{  
    width:500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
}

.logo{
    width:200px;
    height:150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.g-0{
   justify-content: space-around;
}

.reg-img{
 margin-bottom: 0;
 margin-top: 0;
}

.large-section{
    height:1080px;
}

.password, .email, .control-label{
    text-align: left;
    margin-top:15px;
    color:black;
    font-weight: 500;
}

.reg-btn{
    color:#5955B3
}

.asking{
    font-weight: 500;
    margin-top:30px;
}

.enter{
    font-weight: 500;
    font-size: 24px;
}

.logo-2{
    width:55px;
    height: 55px;
}

.glad-to-see{
    margin-top:10px;
    font-size: 20px;
}

.btn:hover {
    font-size: 30px;
    background-color: #5955B3;
    color:white;
  }


.form-control{
    font-size:20px;
    margin-bottom:30px;
    padding: 15px;
    border-color:#5955B3;
    border-width:0;
    background-color: #F8F9FC;
    color:gray;
}

.p-form{
    margin-bottom:5px;
}