.main_part_cards1{
  margin: 0 ;
  margin-bottom: 40px;
  margin-top: 0;
  width: 100%;
  @media(min-width: 1700px) {
      width: 100%;
      max-width: 100%;
  }
}

.card-text-course{

}

.card-text-course-main{
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
}

.card-text-course-main1{
  display: flex;
  flex-direction: row;
}

.couse-photo-large{
  @media(max-width: 550px) {
      display: none;
  }
}

.couse-photo-mini{
  display: none;
  @media(max-width: 550px) {
      display: block;
  }
}

.card-text-course-main p{
  color: #5955B3;
  font-size: 24px;
  font-weight: 600;
  @media(max-width: 550px) {
      text-align: center;
  }
}

.card-courses-openedu{
margin: 0;
padding: 0;
width: 100%;
}

.card-courses-openedu ul{
  margin: 0;
  padding: 10px;
  list-style: none;
}

.card-courses-openedu ul li{
margin: 0;
margin-bottom: 15px;
padding: 10px;
display: block;

align-self: center;
justify-self: center;

}

.card-course-openedu11{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  @media(max-width: 600px) {
    flex-direction: column;
}
}


.card-course-openedu1 h2{
  color: #6663CF;
  font-size: 16px;
  font-weight: 600;
}

.card-course-openedu1 p{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: #000000;
  font-size: 16px;
}

.card-course-openedu1{
width: 60%;
@media(max-width: 600px) {
  width: 80%;
  justify-content: center;
}
}

.otz{
  transform: rotateY(180deg);
  width: 148px;
}

.otz1{
display: flex;
flex-wrap: nowrap;
margin-bottom: 10px;
}



.otz .container__items{
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 12px;
}

.otz .container__items input{
  display: none;
}

.otz .container__items label{
  width: 20%;
  cursor: pointer;
}

.otz .container__items label .star-stroke{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #6663CF;
  clip-path: url(#wave);
}

.otz .container__items label .star-stroke .star-fill{
  width: 95%;
  aspect-ratio: 1;
  background: #FFFFFF;
  clip-path: url(#wave);
}

.otz .container__items input:hover ~ label .star-stroke,.container .container__items input:checked ~ label .star-stroke{
  background: #6663CF;
}

.otz .container__items input:checked ~ label .star-stroke .star-fill{
  background: #6663CF;
}
.otz .container__items input:hover ~ label .star-stroke .star-fill{
  background: #6663CF;
}

.ochenka{
  margin: 0;
  padding: 0;
  display: flex;
  
  gap: 20px;

  @media(max-width: 700px) {
    align-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    gap: 0px;
  }

  @media(max-width: 600px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
@media(max-width: 350px) {
  align-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 0px;
}

}

.svg_star{
  
}
.img_course{
margin: 5px;
height: 100%;
border: 3px solid #d2c1fd;
border-radius: 6px;
width: 97%;
}

.link_course{
width: 40%;
margin: 0 ;
padding: 0;
border-radius: 6px;
text-decoration: none;
@media(max-width: 600px) {
  width: 90%;
}
}

.link_course:hover{
background-color: #DEC6FA;
margin: 0;
padding: 0;
text-decoration: underline;
}

.ochenka p{
margin: 0;
padding: 0;
}

.reiting{
display: none;
margin-right: 5.5px;
}
.reiting.active{
display: inline;
}

.ozt1{

}


.main-inf-course{
display: none;
}

.main-inf-course.section-active{
display: inherit;
}

.openedu-inf-course{
display: none;
}

.openedu-inf-course.section-active{
display: inherit;
}

.exam-inf-course{
display: none;
}

.exam-inf-course.section-active{
display: inherit;
}

.ulearn-inf-course{
display: none;
}

.ulearn-inf-course.section-active{
display: inherit;
}

.elearn-inf-course{
display: none;
}

.elearn-inf-course.section-active{
display: inherit;
}

.btn_course_close{
margin: 0;
padding: 0;
margin-bottom: 10px;
border: none;
background: none;
display: none;
}
.btn_course_close:hover{
opacity: 0.5;
}

.btn_course_close.section-active{
margin: 0;
padding: 0;
margin-bottom: 10px;
border: none;
background: none;
display: inherit;
}

.big_inf{
margin: 0 !important;
padding: 0 !important;
}

.slaid_ru.open_slaid_mini_ru_1_1{
  top: 55.86%;
  left: 9.54%;
  width: 85.54%; 
  height: 15.17%;
}

.slaid_ru.open_slaid_mini_ru_1_2{
  top: 87.24%; 
  left: 33.85%; 
  width: 52.92%; 
  height: 8.28%;
}

.slaid_ru.open_slaid_mini_ru_2_1{
  top: 43.79%; 
  left: 7.38%; 
  width: 87.38%; 
  height: 10.34%;
}

.slaid_ru.open_slaid_mini_ru_2_2{
  top: 90.34%; 
  left: 45.85%; 
  width: 41.54%; 
  height: 7.59%;
}

.slaid_ru.open_slaid_mini_ru_6_1{
  top: 42.41%; 
  left: 37.85%; 
  width: 33.54%; 
  height: 7.93%;
}

.slaid_en.open_slaid_mini_ru_1_1{
  top: 56.21%;
  left: 9.54%;
  width: 85.54%; 
  height: 14.48%;
}

.slaid_en.open_slaid_mini_ru_1_2{
  top: 87.93%; 
  left: 26.15%; 
  width: 52%; 
  height: 8.28%;
}

.slaid_en.open_slaid_mini_ru_2_1{
  top: 45.51%; 
  left: 8.92%; 
  width: 86.15%; 
  height: 8.28%;
}

.slaid_en.open_slaid_mini_ru_2_2{
  top: 89.31%; 
  left: 39.38%; 
  width: 39.08%; 
  height: 7.59%;
}

.slaid_en.open_slaid_mini_ru_6_1{
  top: 40.69%; 
  left: 23.38%; 
  width: 30.15%; 
  height: 6.9%;
}


.slaid_ch.open_slaid_mini_ru_1_1{
  top: 54.13%;
  left: 10.15%;
  width: 72.62%; 
  height: 12.76%;
}

.slaid_ch.open_slaid_mini_ru_1_2{
  top: 81.38%; 
  left: 25.23%; 
  width: 50.77%; 
  height: 8.28%;
}

.slaid_ch.open_slaid_mini_ru_2_1{
  top: 40.69%; 
  left: 8.62%; 
  width: 86.46%; 
  height: 8.28%;
}

.slaid_ch.open_slaid_mini_ru_2_2{
  top: 83.79%; 
  left: 38.15%; 
  width: 39.69%; 
  height: 6.55%;
}

.slaid_ch.open_slaid_mini_ru_6_1{
  top: 36.9%; 
  left: 34.77%; 
  width: 31.38%; 
  height: 5.52%;
}


.slaid_ar.open_slaid_mini_ru_1_1{
  top: 54.48%;
  left: 3.38%;
  width: 74.8%; 
  height: 12.41%;
}

.slaid_ar.open_slaid_mini_ru_1_2{
  top: 80.34%; 
  left: 1.54%; 
  width: 48%; 
  height: 7.59%;
}

.slaid_ar.open_slaid_mini_ru_2_1{
  top: 45.86%; 
  left: 8.92%; 
  width: 85.23%; 
  height: 7.93%;
}

.slaid_ar.open_slaid_mini_ru_2_2{
  top: 85.86%; 
  left: 37.23%; 
  width: 39.69%; 
  height: 8.97%;
}

.slaid_ar.open_slaid_mini_ru_6_1{
  top: 43.1%; 
  left: 19.08%; 
  width: 30.76%; 
  height: 6.55%;
}

.slaid_ru.open_slaid_ru_1_1{
  top: 50.07%; 
  left: 10.62%; 
  width: 63.55%; 
  height: 6.11%;
}

.slaid_ru.open_slaid_ru_1_2{
  top: 76.53%; 
  left: 29.22%; 
  width: 26.96%; 
  height: 6.6%;
}

.slaid_ru.open_slaid_ru_2_1{
  top: 42.3%; 
  left: 13.68%; 
  width: 55.78%; 
  height: 7.33%
}

.slaid_ru.open_slaid_ru_2_2{
  top: 77.75%; 
  left: 42.9%; 
  width: 23.77%; 
  height: 6.36%;
}

.slaid_ru.open_slaid_ru_3_1{
  top: 75.06%; 
  left: 43.16%; 
  width: 12.22%; 
  height: 6.36%;
}

.slaid_ru.open_slaid_ru_5_1{
  top: 61.37%; 
  left: 50.73%; 
  width: 17.93%; 
  height: 6.36%;
}

.slaid_en.open_slaid_ru_1_1{
  top: 49.39%; 
  left: 6.77%; 
  width: 65.34%; 
  height: 9.05%;
}

.slaid_en.open_slaid_ru_1_2{
  top: 77.51%; 
  left: 7.44%; 
  width: 26.43%; 
  height: 8.09%;
}

.slaid_en.open_slaid_ru_2_1{
  top: 42.54%; 
  left: 13.81%; 
  width: 56.18%; 
  height: 8.07%
}

.slaid_en.open_slaid_ru_2_2{
  top: 76.04%; 
  left: 37.45%; 
  width: 25.36%; 
  height: 9.78%;
}

.slaid_en.open_slaid_ru_3_1{
  top: 80.68%; 
  left: 42.63%; 
  width: 13.15%; 
  height: 6.36%;
}

.slaid_en.open_slaid_ru_5_1{
  top: 60.64%; 
  left: 9.69%; 
  width: 16.87%; 
  height: 7.09%;
}

.slaid_ch.open_slaid_ru_1_1{
  top: 43.77%; 
  left: 6.77%; 
  width: 65.87%; 
  height: 7.09%;
}

.slaid_ch.open_slaid_ru_1_2{
  top: 72.13%; 
  left: 6.77%; 
  width: 27.09%; 
  height: 7.33%;
}

.slaid_ch.open_slaid_ru_2_1{
  top: 38.63%; 
  left: 14.08%; 
  width: 56.44%; 
  height: 8.07%
}

.slaid_ch.open_slaid_ru_2_2{
  top: 77.02%; 
  left: 38.51%; 
  width: 24.44%; 
  height: 8.8%;
}

.slaid_ch.open_slaid_ru_3_1{
  top: 74.33%; 
  left: 42.76%; 
  width: 13.54%; 
  height: 7.58%;
}

.slaid_ch.open_slaid_ru_5_1{
  top: 49.63%; 
  left: 40.9%; 
  width: 16.47%; 
  height: 6.85%;
}

.slaid_ar.open_slaid_ru_1_1{
  top: 50.37%; 
  left: 7.04%; 
  width: 65.47%; 
  height: 8.07%;
}

.slaid_ar.open_slaid_ru_1_2{
  top: 77.75%; 
  left: 7.47%; 
  width: 25.5%; 
  height: 7.33%;
}

.slaid_ar.open_slaid_ru_2_1{
  top: 43.28%; 
  left: 13.81%; 
  width: 56.44%; 
  height: 8.8%
}

.slaid_ar.open_slaid_ru_2_2{
  top: 76.77%; 
  left: 33.07%; 
  width: 24.3%; 
  height: 8.8%;
}

.slaid_ar.open_slaid_ru_3_1{
  top: 75.06%; 
  left: 43.16%; 
  width: 12.74%; 
  height: 6.11%;
}

.slaid_ar.open_slaid_ru_5_1{
  top: 58.92%; 
  left: 13.41%; 
  width: 17.8%; 
  height: 7.09%;
}

.slaid_ru.ulearn_slaid_ru_2_1{
  top: 78.48%; 
  left: 16.73%; 
  width: 21.38%; 
  height: 7.33%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_en.ulearn_slaid_ru_2_1{
  top: 78.73%; 
  left: 12.48%; 
  width: 21.65%; 
  height: 6.11%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ch.ulearn_slaid_ru_2_1{
  top: 78.24%; 
  left: 13.01%; 
  width: 21.38%; 
  height: 7.33%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ar.ulearn_slaid_ru_2_1{
  top: 77%; 
  left: 9.16%; 
  width: 21.91%; 
  height: 7.09%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ru.elearn_slaid_ru_1_1{
  top: 38.88%; 
  left: 8.63%; 
  width: 12.22%; 
  height: 7.09%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ru.elearn_slaid_ru_1_2{
  top: 42.54%; 
  left: 27.22%; 
  width: 69.19%; 
  height: 16.38%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ru.elearn_slaid_ru_1_3{
  top: 62.84%; 
  left: 9.16%; 
  width: 25.37%; 
  height: 7.09%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_en.elearn_slaid_ru_1_1{
  top: 38.88%; 
  left: 8.5%; 
  width: 12.48%; 
  height: 6.85%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_en.elearn_slaid_ru_1_2{
  top: 43.27%; 
  left: 27.35%; 
  width: 68.92%; 
  height: 14.67%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_en.elearn_slaid_ru_1_3{
  top: 60.88%; 
  left: 9.16%; 
  width: 31.34%; 
  height: 9.29%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}


.slaid_ch.elearn_slaid_ru_1_1{
  top: 38.18%; 
  left: 8.63%; 
  width: 8.76%; 
  height: 7.09%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ch.elearn_slaid_ru_1_2{
  top: 42.79%; 
  left: 27.36%; 
  width: 68.53%; 
  height: 16.14%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ch.elearn_slaid_ru_1_3{
  top: 61.86%; 
  left: 9.43%; 
  width: 19.39%; 
  height: 7.82%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ar.elearn_slaid_ru_1_1{
  top: 38.39%; 
  left: 7.97%; 
  width: 11.55%; 
  height: 8.07%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ar.elearn_slaid_ru_1_2{
  top: 42.54%; 
  left: 26.83%; 
  width: 69.46%; 
  height: 15.89%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ar.elearn_slaid_ru_1_3{
  top: 62.1%; 
  left: 9.16%; 
  width: 23.24%; 
  height: 7.82%;
  display: inherit;
  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ru.elearn_slaid_ru_3_1{
  top: 77.26%; 
  left: 26.29%; 
  width: 23.24%; 
  height: 7.82%;
  
  @media(max-width: 500px) {
    top: 71.38%; 
    left: 50.46%; 
    width: 43.38%; 
    height: 8.97%;
}

}

.slaid_en.elearn_slaid_ru_3_1{
  top: 77.02%; 
  left: 21.25%; 
  width: 23.24%; 
  height: 8.07%;
  
  @media(max-width: 500px) {
    top: 70.69%; 
    left: 37.78%; 
    width: 39.49%; 
    height: 9.31%;
}

}

.slaid_ch.elearn_slaid_ru_3_1{
  top: 77.02%; 
  left: 21.51%; 
  width: 23.77%; 
  height: 8.8%;
  
  @media(max-width: 500px) {
    top: 71.03%; 
    left: 42.15%; 
    width: 42.46%; 
    height: 9.66%;
}

}

.slaid_ar.elearn_slaid_ru_3_1{
  top: 75.31%; 
  left: 16.6%; 
  width: 23.11%; 
  height: 10.51%;
  
  @media(max-width: 500px) {
    top: 69.66%; 
    left: 32%; 
    width: 43.69%; 
    height: 10.34%;
}

}

.slaid_ru.exam_slaid_ru_1_1{
  top: 30.56%; 
  left: 38.78%; 
  width: 54.05%; 
  height: 11.49%;

  @media(max-width: 500px) {
    top: 53.45%; 
    left: 9.85%; 
    width: 79.08%; 
    height: 16.55%;
}
}

.slaid_en.exam_slaid_ru_1_1{
  top: 30.56%; 
  left: 39.04%; 
  width: 53.39%; 
  height: 11.25%;

  @media(max-width: 500px) {
    top: 54.14%; 
    left: 9.54%; 
    width: 79.69%; 
    height: 15.52%;
}
}

.slaid_ch.exam_slaid_ru_1_1{
  top: 30.56%; 
  left: 38.91%; 
  width: 53.65%; 
  height: 11.25%;

  @media(max-width: 500px) {
    top: 54.14%; 
    left: 9.54%; 
    width: 79.69%; 
    height: 15.17%;
}
}

.slaid_ar.exam_slaid_ru_1_1{
  top: 30.8%; 
  left: 38.91%; 
  width: 58.78%; 
  height: 11%;

  @media(max-width: 500px) {
    top: 54.14%; 
    left: 9.85%; 
    width: 79.69%; 
    height: 15.86%;
}
}

.slaid_ru.exam_slaid_ru_2_1{
  top: 84.11%; 
  left: 48.07%; 
  width: 20.32%; 
  height: 6.36%;

  @media(max-width: 500px) {
    top: 82.07%; 
    left: 50.46%; 
    width: 39.69%; 
    height: 7.93%;
}
}

.slaid_en.exam_slaid_ru_2_1{
  top: 82.64%; 
  left: 42.49%; 
  width: 21.65%; 
  height: 8.56%;

  @media(max-width: 500px) {
    top: 81.03%; 
    left: 41.23%; 
    width: 40.92%; 
    height: 8.97%;
}
}

.slaid_ch.exam_slaid_ru_2_1{
  top: 82.15%; 
  left: 42.76%; 
  width: 21.91%; 
  height: 9.29%;

  @media(max-width: 500px) {
    top: 82.03%; 
    left: 41.85%; 
    width: 38.77%; 
    height: 9.66%;
}
}

.slaid_ar.exam_slaid_ru_2_1{
  top: 82.89%; 
  left: 37.76%; 
  width: 21.78%; 
  height: 8.56%;

  @media(max-width: 500px) {
    top: 80.34%; 
    left: 33.54%; 
    width: 39.08%; 
    height: 10.34%;
}
}

.slaid_ru.course_slaid_ru_1_1{
  top: 72.13%; 
  left: 28.15%; 
  width: 11.29%; 
  height: 6.36%;

  @media(max-width: 500px) {
    top: 66.55%; 
    left: 54.46%; 
    width: 20.92%; 
    height: 7.93%;
}

}

.slaid_en.course_slaid_ru_1_1{
  top: 71.64%; 
  left: 17.8%; 
  width: 11.16%; 
  height: 6.6%;

  @media(max-width: 500px) {
    top: 66.9%; 
    left: 35.08%; 
    width: 20.92%; 
    height: 7.93%;
}

}

.slaid_ch.course_slaid_ru_1_1{
  top: 71.64%; 
  left: 11.69%; 
  width: 10.36%; 
  height: 7.09%;

  @media(max-width: 500px) {
    top: 65.51%; 
    left: 24.31%; 
    width: 25.85%; 
    height: 11.38%;
}

}

.slaid_ar.course_slaid_ru_1_1{
  display: none;

  @media(max-width: 500px) {
    display: none;
}

}

.slaid_ru.course_slaid_ru_3_1{
  top: 52.32%; 
  left: 53.52%; 
  width: 34%; 
  height: 6.36%;

  @media(max-width: 500px) {
    top: 21.38%; 
    left: 15.69%; 
    width: 66.77%; 
    height: 8.62%;
}

}

.slaid_en.course_slaid_ru_3_1{
  top: 51.59%; 
  left: 55.11%; 
  width: 34.66%; 
  height: 7.33%;

  @media(max-width: 500px) {
    top: 23.10%; 
    left: 10.77%; 
    width: 63.38%; 
    height: 7.93%;
}

}

.slaid_ch.course_slaid_ru_3_1{
  top: 51.83%; 
  left: 54.58%; 
  width: 34.79%; 
  height: 6.85%;

  @media(max-width: 500px) {
    top: 22.41%; 
    left: 18.15%; 
    width: 63.08%; 
    height: 8.62%;
}

}

.slaid_ar.course_slaid_ru_3_1{
  top: 51.34%; 
  left: 54.71%; 
  width: 36.12%; 
  height: 8.31%;

  @media(max-width: 500px) {
    top: 25.86%; 
    left: 3.08%; 
    width: 64.31%; 
    height: 8.62%;
}

}


.slaid_ru.course_slaid_ru_4_1{
  top: 26.89%; 
  left: 55.64%; 
  width: 39.58%; 
  height: 12.22%;

  @media(max-width: 500px) {
    top: 30%; 
    left: 5.23%; 
    width: 91.69%; 
    height: 15.52%;
}

}

.slaid_en.course_slaid_ru_4_1{
  top: 26.65%; 
  left: 55.38%; 
  width: 39.71%; 
  height: 12.71%;

  @media(max-width: 500px) {
    top: 25.17%; 
    left: 6.46%; 
    width: 89.54%; 
    height: 13.45%;
}

}

.slaid_ch.course_slaid_ru_4_1{
  top: 21.27%; 
  left: 55.11%; 
  width: 41.17%; 
  height: 11.98%;

  @media(max-width: 500px) {
    top: 24.14%; 
    left: 6.15%; 
    width: 89.85%; 
    height: 15.17%;
}

}

.slaid_ar.course_slaid_ru_4_1{
  top: 26.41%; 
  left: 55.51%; 
  width: 39.58%; 
  height: 12.71%;

  @media(max-width: 500px) {
    top: 23.45%; 
    left: 6.46%; 
    width: 90.15%; 
    height: 15.52%;
}

}